*{
    margin: 0;
    padding: 0;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.titulo{
    margin-top: 15px;
}

.formBox{
    margin-top: auto;
    margin-bottom: auto;
    scale: 1.3;
}

.formBox>form{    
    display: flex;
    flex-direction: column;
    align-content: center;
}

.form-control{
    height: 30px;
    width: 250px;
}

.textarea{
    width: 250px;
    height: 200px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ced4da;
    border-radius: 0.375rem; 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}