<div class="caixa">
  <div class="titulo">
    <h1>Cadastrar Usuário</h1>
  </div>
  <div class="formBox">
    <form [formGroup]="form">

      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" formControlName="nome" name="nome">

        <!-- Tratativa de errors -->
        <div *ngIf="nome?.touched && nome?.invalid" class="invalid-feedback d-block">
          <!-- trata as condições que foram estabelecidas para o input -->
          <div *ngIf="nome?.errors?.['required']">O nome é obrigatorio</div>
          <div *ngIf="nome?.errors?.['minlength']">O nome precisa ter no minimo 3 caracteres</div>
          <div *ngIf="nome?.errors?.['apenasEspacos']">O nome não pode ter apenas espaços</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" name="email">

        <!-- Tratativa de errors -->
        <div *ngIf="email?.touched && email?.invalid" class="invalid-feedback d-block">
          <!-- trata as condições que foram estabelecidas para o input -->
          <div *ngIf="email?.errors?.['required']">O email é obrigatorio</div>
          <div *ngIf="email?.errors?.['minlength']">O email precisa ter no minimo 3 caracteres</div>
          <div *ngIf="email?.errors?.['apenasEspacos']">O email não pode ter apenas espaços</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="text" class="form-control" formControlName="senha" name="senha">

        <!-- Tratativa de errors -->
        <div *ngIf="senha?.touched && senha?.invalid" class="invalid-feedback d-block">
          <!-- trata as condições que foram estabelecidas para o input -->
          <div *ngIf="senha?.errors?.['required']">O senha é obrigatorio</div>
          <div *ngIf="senha?.errors?.['minlength']">O senha precisa ter no minimo 3 caracteres</div>
          <div *ngIf="senha?.errors?.['apenasEspacos']">O senha não pode ter apenas espaços</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Cadastrar</button>
    </form>
  </div>
</div> 