*{
    margin: 0;
    padding: 0;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnTarefa{
    margin-top: 30px;
}

.btnTarefa>button{
    padding: 10px;
    scale: 1.5;
}

.card{
    margin: 100px;
    border: none;
}

.card-body{
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
}

.card-text{
    padding: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.buttons>button{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}